<div class="container" #container>
  <div class="text" [@textTrigger]="state" #text>
    <ng-content></ng-content>
  </div>
  <div
    class="img-c"
    [@imageTrigger]="state"
    (click)="toggleState()"
  >
    <img [src]="mImage.src" [alt]="mImage.alt" class="mobile" #imgMobile/>
    <img
      [src]="image.src"
      [alt]="image.alt"
      [@mobileImage]="state"
      class="desktop"
      #imgDesktop

      (load)="onImagesLoad()"
    />
    <div class="click-me">
      <span>Click Me</span>
    </div>
  </div>
</div>
