:host {
    height: 100%;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}

.container {
    .top {
        width: 100%;
        img {
            width: 100%;
        }
    }

    .article {
        padding: 10px;
        min-height: 50px;
    }
}

section.comments {
    padding: 10px;

    app-comment {
        width: 100%;
    }
}

h2 {
    font-size: 40px;
}