<section class="px-4">
    <div class="max-w-7xl m-auto">
        <h3 class="title text-5xl mb-4">Tech Stack</h3>
        <div class="grid my-grid gap-4">
            <div class="card">
                <span class="font-bold text-lg text-center block">Angular</span>
                <div class="">
                    <app-svg-icon icon="angular"></app-svg-icon>
                </div>
            </div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
        </div>
    </div>
</section>