<div class="message-container" [ngSwitch]="true">
	<div class="" *ngSwitchCase="messageShown === 0">
		<p class="title">Redirecting...</p>
		<p>Please, wait just a moment</p>
	</div>
	<div class="" *ngSwitchCase="messageShown === 1">
		<p class="title">Auth Error ;(</p>
		<br />
		<p>It seems that your github code is missing or invalid</p>
		<p>Do you want to be redirected to github oauth again?</p>
		<div class="buttons">
			<button mat-button (click)="getBack()">Get Back</button>
			<button mat-button (click)="redirectToGithub()">Ok</button>
		</div>
	</div>

	<div class="" *ngSwitchDefault>
		<p>There is an error with the server :(</p>
		<div class="buttons">
			<button mat-button (click)="getBack()">Get Back</button>
		</div>
	</div>
</div>
