<footer class="px-10 sm:px-20">
	<div class="max-w-4xl w-full m-auto flex justify-between">
		<div class="flex flex-col">
			<a href="">
				<fa-icon [icon]="faGithub"></fa-icon>
				<span>JekTheCoder</span>
			</a>
			<a href="https://www.linkedin.com/in/jeshua-hinostroza/" target="_blank">
				<fa-icon [icon]="faLinkedin"></fa-icon>
				<span class="overflow-hidden max-w-[2rem]">Jeshua Hinostroza</span>
			</a>
		</div>
	
		<p class="text-normal max-w-[9rem] sm:max-w-none"><span>Created by</span>&nbsp;<span>Jeshua Hinostroza - 2022</span></p>
	</div>
</footer>
