<app-sticky-header></app-sticky-header>
<app-sidenav class="block md:hidden">
	<app-nav-bar class="block bg-background w-full h-screen"></app-nav-bar>
</app-sidenav>

<div class="flex flex-row max-w-7xl m-auto px-4" appSidenavCloser>
	<div class="hidden md:block">
		<app-nav-bar></app-nav-bar>
	</div>

	<div class="flex-1 px-4 skills-zone">
		<router-outlet></router-outlet>
	</div>
</div>

<div class="flex flex-row max-w-7xl m-auto px-4">
	<app-page-nav [path]="path$ | async" class="w-full"></app-page-nav>
</div>
