<div class="profile">
  <div
    class="mouse-trigger"
    (mouseenter)="overIcon = true"
    (mouseleave)="overIcon = false"
  ></div>
  <div class="icon-container">
    <fa-icon class="icon" [icon]="profileIcon"></fa-icon>
  </div>
</div>

<div
  class="profile-panel"
  [@profileMenu]="overIcon || overPanel ? 'display' : 'hidden'"
  (mouseleave)="overPanel = false"
  (mouseenter)="overPanel = true"
  style="height: 100px"
>
  <ul>
    <ng-container *ngIf="isLogged$ | async; else notLogged">
      <li><a routerLink="/profile">Profile</a></li>
      <li><button>Loggout</button></li>
    </ng-container>
    <ng-template #notLogged>
      <li><a routerLink="/auth/login">Login</a></li>
      <li><a routerLink="/auth/register">Register</a></li>
    </ng-template>
  </ul>
</div>
