<div class="text-container" *ngIf="showPointName$ | async">
    <ng-container *ngFor="let fragment of fragments; let i = index">
        <a class="text" routerLink="./" [fragment]="fragment">{{ fragment }}</a>
        <div *ngIf="i < fragments.length - 1"></div>
    </ng-container>
</div>
<div class="points-container" *ngLet="activeFragment$ | async as activeFragment">
    <ng-container *ngFor="let fragment of fragments; let i = index">
        <a routerLink="./" [fragment]="fragment" class="point" [ngClass]="{ 'active': fragment === activeFragment }"></a>
        <div class="line" *ngIf="i < fragments.length - 1"></div>
    </ng-container>
</div>
