<h3>Contact me</h3>
<div class="">
    <p>
        <a href="https://github.com/JekTheCoder" target="_blank">
            <fa-icon [icon]="githubIcon"></fa-icon>&nbsp;
            <span>https://github.com/JekTheCoder</span>
        </a>
    </p>
    <p>
        <a href="mailto:hinostrozajeshua@gmail.com">
            <fa-icon [icon]="mailIcon"></fa-icon>&nbsp;
            <span>hinostrozajeshua@gmail.com</span>
        </a>
    </p>
    <p>
        <a href="https://www.linkedin.com/in/jeshua-hinostroza/" target="_blank">
            <fa-icon [icon]="linkedInIcon"></fa-icon>&nbsp;
            <span>https://www.linkedin.com/in/jeshua-hinostroza/</span>
        </a>
    </p>
</div>
<div class="separator"></div>
<h4>Or...</h4>
<div class="">
    <h4>Send me a message!</h4>
    <form [formGroup]="contactMeForm" class="contact-me-form">
        <mat-form-field>
            <mat-label>Your Name</mat-label>
            <input matInput type="text" formControlName="name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>@email</mat-label>
            <input matInput type="email" formControlName="email">
            <mat-error>Email is required!</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Message</mat-label>
            <textarea matInput formControlName="message"></textarea>
        </mat-form-field>
        <button type="submit">submit</button>
    </form>
</div>