$content-max-width: 1200px;
$margin-top: 100px;

#content {
    $sides-width: 200px;

    // display: grid;
    // padding: 0 10px;
    // position: relative;
    // grid-template-columns: minmax(0, $sides-width) 1fr minmax(0, $sides-width);
}

.gradient {
    background: linear-gradient(to right, var(--color-primary), var(--color-accent));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.light-bg-gradient {
    background: radial-gradient(ellipse at top, rgba(255, 255, 255, .1), transparent 70%);    
}