<div id="content">
    <div class=""></div>
    <div class="left">
        <section #aboutMe id="about-me">
            <h2 class="name">JESHUA HINOSTROZA</h2>
            <p>
                Hi, I'm full stack developer based on Lima, Peru. <br>
                I have built clean, optimal and scalable front-ends, <br>
                and secure and fast back-ends.
            </p>
            <p>I like to code following the best practices and documentation for creating the most optimal solution</p>

            <div>
                <a class="link" routerLink="/" fragment="projects">Projects</a> -
                <a class="link" routerLink="/" fragment="contact-me">Contact Me</a>
            </div>
        </section>
        <section #projects id="projects">
            <app-projects></app-projects>
        </section>
        <section #contactMe>
            <app-contact-me></app-contact-me>
        </section>
    </div>
    <div class="right">
        <app-navigator *ngIf="sectionsKeys" [fragments]="sectionsKeys"></app-navigator>
    </div>
</div>

