:host {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 400px;
    width: 100%;
}

.profile-header {
    display: grid;
    grid-template-columns: 80px 1fr;
    padding: 5px 10px;
    gap: 10px;
}

.username {
    font-size: 24px;
}

ul {
    list-style: none;
}

.btn {
    width: 100%;
    text-align: center;
}
