<div class="container" *ngIf="profile$ | async as profile">
    <div class="profile-header">
        <profile-icon></profile-icon>
        <div class="">
            <div class="">
                <span class="username">{{ profile.username }}</span>
                <ng-container *ngIf="profile.name">
                    <span>&nbsp;-&nbsp;</span>
                    <span>{{ profile.name }}&nbsp;</span>
                    <span *ngIf="profile.lastname">{{ profile.lastname }}</span>
                </ng-container>
            </div>
            <div class="">
                <p>{{ profile.createdAt | date }}</p>
            </div>
        </div>
    </div>
    <hr>
</div>
