<header class="flex justify-between border-b py-1 border-normal">
	<div class="">
		<h3 class="text-5xl">Angular</h3>
		<span class="text-normal block mt-2">Projects And Experience</span>
	</div>
	<app-svg-icon class="h-full w-20 aspect-square" icon="angular"></app-svg-icon>
</header>

<article class="my-4" ngxLinkedElement="enneto">
	<h1 class="text-normal text-3xl">Enneto</h1>
	<h2 class="font-normal italic">Atirpay Solutions, since september 2022</h2>
	<p>
		Enneto is a business app designed to help businesses manage their products,
		purchase and sale records, and employees.
	</p>
	<p>
		It provides an easy-to-use interface that allows users to quickly and easily track
		inventory and manage orders.
	</p>
	<span class="text-secondary">(Still on Development)</span>
</article>

<article class="my-4" ngxLinkedElement="g-eshop">
	<h1 class="text-normal text-3xl">Generic E-shop</h1>
	<h2 class="font-normal italic">On may 2022</h2>
	<div class="flex gap-x-4 gap-y-4 flex-col md:flex-row">
		<section>
			<p>
				Gen Ecommerce is an example of an online shopping platform that specializes in
				fashion and rope products. It offers a wide selection of apparel, accessories,
				and rope items from top brands around the world. Customers can browse through
				the catalog of products, compare prices and read reviews.
			</p>
	
			<div class="no-mobile:hidden block">
				<app-dev-source 
					githubSrc="https://github.com/JekTheCoder/e-shop" 
					webSrc="https://jekthecoder.github.io/e-shop/"
				></app-dev-source>
			</div>
			<span class="text-secondary">(Still on Development)</span>
		</section>
		<div class="shadow-sm shadow-white/30 relative">
			<img class="object-cover hidden md:block" src="assets/m-eshop.png" alt="" />
			<img class="object-cover md:hidden" src="assets/h-eshop.png" alt="" />
			<div
				class="
					w-full h-full opacity-0 hover:opacity-100 hover:bg-opacity-50 
					bg-black/50 absolute top-0 transition-opacity no-mobile:block hidden
				"
			>
				<app-dev-source
					class="absolute top-0 bottom-0 left-0 right-0 m-auto h-min w-min"
					githubSrc="https://github.com/JekTheCoder/e-shop"
					webSrc="https://jekthecoder.github.io/e-shop/"
				></app-dev-source>
			</div>
		</div>
	</div>
</article>
