<header class="flex justify-between border-b py-1 border-normal">
	<div class="">
		<h3 class="text-5xl">Angular</h3>
		<span class="text-normal block mt-2">Projects And Experience</span>
	</div>
	<app-svg-icon class="h-full w-20 aspect-square" icon="angular"></app-svg-icon>
</header>

<div class="grid grid-cols-1 gap-y-8 my-4">
	<article ngxLinkedElement="enneto">
		<h1 class="text-normal text-3xl">Enneto</h1>
		<h2 class="font-normal italic">at Atirpay Solutions, since september 2022</h2>
		<p>
			Enneto is a business app designed to help businesses manage their products,
			purchase and sale records, and employees.
		</p>
		<p>
			It provides an easy-to-use interface that allows users to quickly and easily
			track inventory and manage orders.
		</p>
		<span class="text-secondary">(Still on Development)</span>
	</article>

	<article ngxLinkedElement="conecta-survey">
		<h1 class="text-normal text-3xl">Conecta Surveys</h1>
		<!-- I dont remember the exact date haha -->
		<h2 class="font-normal italic">at Atirpay Solutions, since 2023</h2>

		<p>A set of projects that compounds the Conecta platform.</p>
		<p>
			Using the admin app you can manage users, surveys and their responses. It
			provides a user-friendly interface to create dynamic surveys that have
			validation and more stuff.
		</p>

		<p>Those surveys can be sent to the users and monitor their responses.</p>
		<p>
			The public app allows the surveys respondants answer the dynamicly built
			surveys and see their responses
		</p>

		<span class="text-secondary">(Still on Development)</span>
	</article>

	<article ngxLinkedElement="midagri">
		<h1 class="text-normal text-3xl">Midagri App</h1>
		<!-- I do not remember the exact date -->
		<h2 class="font-normal italic">at Atirpay Solutions, since 2023</h2>

		<p>
			An almost client-side-only app for
			<a
				href="https://www.gob.pe/midagri"
				target="_blank"
				class="font-bold hover:underline"
				>Midagri (Perú)</a
			>.
		</p>

		<p>
			Helps their specialists to automatically evaluate and generate reports on the
			risks of agricultural fumigation in the habitat.
		</p>
	</article>

	<article ngxLinkedElement="host-observable">
		<h1 class="text-normal text-3xl">Host Observable</h1>
		<h2 class="font-normal italic">Angular Library, november 2022</h2>
		<p>
			Host observable is an tiny Angular library that manages rxjs observables
			subscriptions in a very sugar-syntactic way.
		</p>
		<div class="flex gap-x-2 mt-2">
			<a
				href="https://www.npmjs.com/package/ngx-host-observable"
				target="_blank"
				class="flex items-center group"
			>
				<app-svg-icon class="invert mr-1" icon="npm"></app-svg-icon>
				<span class="group-hover:underline">Npm</span>
			</a>
			<app-dev-source
				githubSrc="https://github.com/JekTheCoder/ngx-host-observable"
			></app-dev-source>
		</div>
	</article>

	<article ngxLinkedElement="linked-elements">
		<h1 class="text-normal text-3xl">Linked Elements</h1>
		<h2 class="font-normal italic">Angular Library, november 2022</h2>
		<p>
			Linked Elements is an tiny Angular library for linking elements within a page.
		</p>
		<p>
			It allows to scroll between elments, store and interpret the route state, etc.
		</p>
		<div class="flex gap-x-2 mt-2">
			<a
				href="https://www.npmjs.com/package/ngx-host-observable"
				target="_blank"
				class="flex items-center group"
			>
				<app-svg-icon class="invert mr-1" icon="npm"></app-svg-icon>
				<span class="group-hover:underline">Npm</span>
			</a>
			<app-dev-source
				githubSrc="https://github.com/JekTheCoder/ngx-host-observable"
			></app-dev-source>
		</div>
	</article>

	<article ngxLinkedElement="g-eshop">
		<h1 class="text-normal text-3xl">Generic E-shop</h1>
		<h2 class="font-normal italic">On may 2022</h2>
		<div class="flex gap-x-4 gap-y-4 flex-col md:flex-row">
			<section>
				<p>
					Gen Ecommerce is an example of an online shopping platform that
					specializes in fashion and rope products. It offers a wide selection
					of apparel, accessories, and rope items from top brands around the
					world. Customers can browse through the catalog of products, compare
					prices and read reviews.
				</p>

				<div class="no-mobile:hidden block">
					<app-dev-source
						githubSrc="https://github.com/JekTheCoder/e-shop"
						webSrc="https://jekthecoder.github.io/e-shop/"
					></app-dev-source>
				</div>
				<span class="text-secondary">(Still on Development)</span>
			</section>
			<div class="shadow-sm shadow-white/30 relative">
				<img
					class="object-cover hidden md:block"
					src="assets/m-eshop.png"
					alt=""
				/>
				<img class="object-cover md:hidden" src="assets/h-eshop.png" alt="" />
				<div
					class="w-full h-full opacity-0 hover:opacity-100 hover:bg-opacity-50 bg-black/50 absolute top-0 transition-opacity no-mobile:block hidden"
				>
					<app-dev-source
						class="absolute top-0 bottom-0 left-0 right-0 m-auto h-min w-min"
						githubSrc="https://github.com/JekTheCoder/e-shop"
						webSrc="https://jekthecoder.github.io/e-shop/"
					></app-dev-source>
				</div>
			</div>
		</div>
	</article>
</div>
