<h2 class="name font-bold leading-none mb-6">
	<span class="block sm:text-9xl text-7xl">JESHUA</span>
	<span class="gradient sm:text-6xl text-5xl align-text-top">HINOSTROZA</span>
</h2>

<p class="text-secondary">
	Hi, I'm full stack developer based on Lima, Peru. <br />
	I have built clean, optimal and scalable front-ends, <br />
	and secure and fast back-ends.
</p>

<p class="text-secondary">
	I like to code following the best practices and documentation for creating the most
	optimal solution
</p>
