a {
	color: unset;
	text-decoration: none;
	span {
		text-decoration: underline;
	}
}

.separator {
	margin-top: 20px;
}

.contact-me-form {
	padding-right: 20px;
	.mat-mdc-form-field {
		display: block;
	}

	button {
		padding: 10px;
		border: none;
		border-radius: 5px;

		transition: background-color 0.2s;
	}
}
