<h3>Contact me</h3>
<div class="">
	<p>
		<a href="https://github.com/JekTheCoder" target="_blank">
			<fa-icon [icon]="githubIcon"></fa-icon>&nbsp;
			<span>https://github.com/JekTheCoder</span>
		</a>
	</p>
	<p>
		<a href="mailto:hinostrozajeshua@gmail.com">
			<fa-icon [icon]="mailIcon"></fa-icon>&nbsp;
			<span>hinostrozajeshua@gmail.com</span>
		</a>
	</p>
	<p>
		<a href="https://www.linkedin.com/in/jeshua-hinostroza/" target="_blank">
			<fa-icon [icon]="linkedInIcon"></fa-icon>&nbsp;
			<span>https://www.linkedin.com/in/jeshua-hinostroza/</span>
		</a>
	</p>
</div>
<div class="separator"></div>
