<article>
	<h1 class="text-xl">Writting my Own Libraries</h1>
	<p>
		I have written and published some Angular libraries, such as
		<a class="text-normal" href="https://www.npmjs.com/package/ngx-host-observable">
			HostObservable
		</a>
		and
		<a class="text-normal" href="https://www.npmjs.com/package/ngx-linked-elements">
			LinkedElements </a
		>.
	</p>
	<p>
		Through these experiences, I have gained a great deal of knowledge, and I have
		enjoyed the process immensely.
	</p>
	<p>
		In the future, I plan to continue writing more libraries, so that anyone who wants
		to use my code can easily download it via npm.
	</p>
</article>
