h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

.all {
    overflow: hidden;
}

.preview {
    position: relative;
}

.abs-container {
    right: -10px;
    position: absolute;
    bottom: 0;
}

.arrow-wrapper {
    transition: transform .3s;

    &:hover {
        transform: scale(140%);
    }
}
