@import 'lib/styles/core.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body { min-height: 100%; }
body { margin: 0; font-family: Ubuntu, sans-serif; position: relative; }
