<div class="flex justify-between border-b py-1 border-normal">
	<h3 class="text-7xl">Angular</h3>
	<app-svg-icon class="h-full w-20 aspect-square" icon="angular"></app-svg-icon>
</div>
<section class="py-4">
	<p>
		For the past two years, I have been studying and mastering Angular. I have picked
		up a lot of tips and tricks along the way.
	</p>
</section>
<div class="grid gap-y-12">
	<app-reactive-section ngxLinkedElement="reactive-section"></app-reactive-section>
	<app-deep-rxjs-section ngxLinkedElement="deep-rxjs-section"></app-deep-rxjs-section>

	<article ngxLinkedElement="di-section">
		<h1 class="text-xl">Dependency Injection</h1>
		<p>
			It took me a while to wrap my head around angular DI, but it was totally worth
			it!
		</p>
		<p>
			With the knowledge I gained, I was able to improve my angular coding skills
			significantly.
		</p>
		<p>
			Additionally, I was able to create components with reusable code by
			customizing the dependencies.
		</p>
		<p>
			I even managed to provide different services to two instances of the same
			component within the same component using DI scopes and providers.
		</p>
	</article>

	<app-libraries-section ngxLinkedElement="libraries-section"></app-libraries-section>
</div>
