<div class="flex justify-between border-b py-1 border-normal">
	<h3 class="text-7xl">Angular</h3>
	<app-svg-icon class="h-full w-20 aspect-square" icon="angular"></app-svg-icon>
</div>
<section class="py-4">
	<p>
		I have been working and learning about Angular since a while. About 2 years ago. <br>
		Here are most of the things and tricks I have learnt
	</p>
</section>
<app-reactive-section ngxLinkedElement="reactive-section"></app-reactive-section>
<app-deep-rxjs-section ngxLinkedElement="deep-rxjs-section"></app-deep-rxjs-section>
<app-libraries-section ngxLinkedElement="libraries-section"></app-libraries-section>