<div class="flex justify-between border-b py-1">
	<h3 class="text-7xl">Angular</h3>
	<app-svg-icon class="h-full w-20 aspect-square" icon="angular"></app-svg-icon>
</div>
<p>
	Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid, delectus minus,
	odio dolorum eligendi, corrupti quae qui distinctio amet molestias assumenda atque
	eaque molestiae veritatis ipsum obcaecati voluptates necessitatibus incidunt.
</p>

<p>
	Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid, delectus minus,
	odio dolorum eligendi, corrupti quae qui distinctio amet molestias assumenda atque
	eaque molestiae veritatis ipsum obcaecati voluptates necessitatibus incidunt.
</p>
