<h3>My Projects</h3>

<!-- <section class="img-r">
    <div class="">
        <div class="">
            <h4>E-Shop Commerce</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos fugiat, repellendus
                veniam nisi ex adipisci fugit eligendi esse laborum praesentium, distinctio placeat illo?
                Labore, non eligendi. Deserunt fuga necessitatibus esse?
            </p>
        </div>
        <div class="">
            <p>Lorem, ipsum.</p>
        </div>
    </div>
    <div class="gap"></div>
    <div class="img-c">
        <img src="/assets/h-eshop.PNG" alt="e-shop">
    </div>
</section> -->
<app-project [image]="{ src: '/assets/h-eshop.PNG', alt: 'e-shop' }">
    <div text>
        <div class="">
            <h4>E-Shop Commerce</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos fugiat, repellendus
                veniam nisi ex adipisci fugit eligendi esse laborum praesentium, distinctio placeat illo?
                Labore, non eligendi. Deserunt fuga necessitatibus esse?
            </p>
        </div>
        <div class="">
            <p>Lorem, ipsum.</p>
        </div>
    </div>
</app-project>
<section>
    <h4></h4>
    <p></p>
</section>