@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme($material-theme, $app-theme) {
	$color-config: mat.get-color-config($material-theme);
	$is-dark-theme: map.get($color-config, 'is-dark');

	$color: #000;
	@if $is-dark-theme {
		$color: #fff;
	}

	app-navigator {
		.point {
			&.active {
				background-color: $color;
			}
			border: 1px solid $color;
		}

		.line {
			background-color: $color;
		}

		.text {
			color: $color;
		}
	}
}
